
body {
  font-family: Arial;
  background-color: #f3f6f4;
  margin: 0;
  color: #333;
}

/* Header */
header {
  background-color: #2e8b57;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 22px;
}

nav a {
  color: white;
  margin-left: 12px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(to right, #6cc57c, #2e8b57);
  color: white;
  border-radius: 0 0 15px 15px;
}

/* Feature Cards */
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

.card {
  background: white;
  width: 270px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h3 {
  color: #2e8b57;
}

/* Form Styling */
.form-box {
  background: white;
  width: 350px;
  margin: 70px auto;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.form-box h2 {
  text-align: center;
  color: #2e8b57;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 14px;
}

input, select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #2e8b57;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #256c46;
}

p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #2e8b57;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #2e8b57;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
  font-size: 14px;
}
